
$main_grey: #222222;
$main_red: #880000;
$main_white: #fff;

$main_gradient: linear-gradient(225deg, #880000 0%, #AA1F1F 100%);
$main_gradient_rtl: linear-gradient(45deg, #880000 0%, #AA1F1F 100%);
$green_gradient: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(41,150,1,1) 100%);
$yellow_gradient: linear-gradient(90deg, rgba(250,166,55,1) 0%, rgba(255,171,0,1) 100%);

$main_text_light: #fff;
$main_text_dark: #000;

$secondary_grey: #f2f2f2;
$secondary_blue: #5fa8d3;
$secondary_green: #649F56;
$secondary_red: #AA1F1F;
$secondary_yellow: #EC7F32;